*{
    box-sizing: border-box;
}
.header{
    height: 100px;
    width: 100%;
    /* background: yellow; */
}
.header h1{
    width: 189px;
    height: 100px;
    line-height: 100px;
    /* background: aq-ua; */
    background: pink;
    color: black;
    margin-right: 60px;
}
.header1{
    box-sizing: border-box;
    padding-top:30px;
    width: 795px;
    height: 100px;
    text-align: center;
    vertical-align: middlel;
    /* background: black; */
}
.header1 p{
    font-size: 12px;
    width: 796px;
    height: 26px;
    line-height: 26px;
    border: 2px solid pink;
}
/* ----------------------------- */
.center{
    height: 570px;
    width: 100%;
    background:url("../images/suninglogin.jpg") center;
    position: relative;
}
.center1{
    width: 360px;
    height: 430px;
    background: white;
    position: absolute;
    top: 80px;
    right: 300px;
}
.center1 .top{
    height: 50px;
    border-bottom: 1px solid silver;
}
.center1 .top li{
    cursor: pointer;
    width: 180px;
    line-height: 50px;
    text-align: center;
}
.center1 .top li:nth-child(2):hover{
    color: red;
}

.center1 .foot{
    height: 380px;
    overflow: hidden;
    /* background: yellow; */
   
}
/* --------------------------------------- */
.center1 .foot li{
    /* float: left; */
    height: 380px;
    width: 360px;
    border: 1px solid black;

}
.foot1{
    height: 300px;
    /* background: aqua; */
    text-align: center;
    padding-top: 50px;
    font-size: 12px;
}
.foot1 img{
    margin-bottom: 13px;
}
.foot2{
    height: 78px;
    background: yellow;
}
/* ---------------------------- */
.login .li2{
    /* background: pink; */
    padding:0 20px;
    padding-top: 20px;
    
}

.foot3{
    width: 320px;
    height: 250px;
    /* border: 1px solid black; */
}
.yhm{
    height: 80px;
    /* background: antiquewhite; */
}
.mm{
    height: 80px;
}
.foot3 input{
    height:40px ;
    width: 318px;
    border: 1px solid red;
}
.foot3 .btn{
    height: 50px;
    width: 100%;
    background: #f60;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
}
.foot form p{
    height: 38px;
    line-height: 38px;
}
.foot4{
    width: 100px;
    height: 80px;
    background: lawngreen;
}
/* ----------------------------- */
.footer{
    height: 145px;
    background: pink;
}